html{
    /* background-image: url("http://apod.nasa.gov/apod/image/1311/auroraiceland_vetter_960.jpg"); */
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 100% 100%;
    min-height:100%;
}

body{
    /* Workaround for some mobile browsers */
    min-height:100%;
}

#container {
    width: inherit;
    height: inherit;
    background: rgb(65, 119, 31); /* Fall-back for browsers that don't support rgba */
    background: rgba(65, 119, 31, .5);
}

#searchbox {
    width: 300px;
    height: 150px;
    background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAECAYAAACp8Z5+AAAAEklEQVQImWNgYGAwZiAWYFcJABFmAGeceo4VAAAAAElFTkSuQmCC") repeat;
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}